# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.class
*.dex
*.jar
*.apk

# Sensitive files
.env
*.env
**/android/key.properties
**/android/*.keystore

# IDE specific
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Android/iOS specific
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/app/debug
**/android/app/profile
**/android/app/release

# iOS files
**/ios/**/Pods/
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*.xccheckout
**/ios/**/*.xcscmblueprint
**/ios/**/*.xcuserstate
**/ios/**/.DS_Store
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/**/build/

# But allow these critical iOS files
!**/ios/Runner/AppFrameworkInfo.plist
!**/ios/Runner/GoogleService-Info.plist
!**/ios/Runner/Info.plist
!**/ios/Runner/Base.lproj/
!**/ios/Runner.xcodeproj/project.pbxproj
!**/ios/Runner.xcworkspace/contents.xcworkspacedata

# Other exclusions
build/
canvaskit/
*.db
*.log
*.doc
data/hadith_data.json
**pycache**/
*.pyc
math
.env
